/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/

$almostWhite: #fcfff5;
$neutralGreenLight: #d1dbbd;
$neutralGreenDark: #91aa9d;
$neutralBlueLight: #3e606f;
$neutralBlueDark: #193441;
$main: #225378;
$highlight1: #1695a3;
$highlight2: #acf0f2;
$superHighlight: #eb7f00;
$darkNeutral1: #595150;
$darkNeutral2: #242020;
$darkNeutral3: #0d0c0b;
$darkNeutral4: #1c1919;
$lightNeutral1: #f6f6f6;
$lightNeutral2: #e9e8e6;
$lightNeutral3: #c3c4be;
$lightNeutral4: #a4a39e;
$lightNeutral5: #8a8984;
