/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/

@import 'colors';
@import "bourbon/bourbon";
@import 'scrollbars';
@import 'MediaQueries';
@import 'general';
@import 'mainNav';
@import 'secNav';
@import 'ExtensionZone';
@import 'content';
@import 'footer';
.measure {
    position: absolute;
    top: 3003px;
    left: 912px;
    width: 13px;
    height: 30px;
    background-color: red;
    z-index: 100;
    display: none;
}

.measure2 {
    position: absolute;
    top: 1925px;
    left: 739px;
    width: 17px;
    height: 10px;
    background-color: purple;
    z-index: 100;
    display: none;
}
