/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
/*Vertical scrollbar.*/
.vscroll {
  position: absolute;
  display: none;
  right: 0;
  z-index: 2;
  width: 20px;
  text-align: center; }
  .vscroll .top {
    position: absolute;
    top: 0;
    width: 20px;
    height: 15px;
    background-color: #3e606f;
    padding: 0;
    padding-top: 5px; }
    .vscroll .top svg {
      display: block;
      fill: #fcfff5;
      transform: rotate(180deg);
      height: 5px;
      width: 12px;
      margin: 0 auto; }
    .vscroll .top:hover {
      background-color: #193441; }
  .vscroll .frame {
    position: absolute;
    right: 0;
    width: 20px;
    top: 15px;
    display: inline-block;
    background-color: #e9e8e6; }
    .vscroll .frame .bar {
      position: absolute;
      display: inline-block;
      width: 14px;
      right: 3px;
      background-color: #c3c4be; }
      .vscroll .frame .bar:hover {
        background-color: #a4a39e; }
      .vscroll .frame .bar:active {
        background-color: #8a8984; }
  .vscroll .bottom {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 15px;
    background-color: #3e606f;
    padding-top: 5px; }
    .vscroll .bottom svg {
      display: block;
      fill: #fcfff5;
      height: 5px;
      width: 12px;
      margin: 0 auto; }
    .vscroll .bottom:hover {
      background-color: #193441; }

/*Middle mouse button scroll.*/
.mscroll {
  position: absolute;
  display: none;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 100px;
  left: 350px;
  background-color: rgba(13, 12, 11, 0.5); }
  .mscroll .centered_square {
    position: absolute;
    display: inline-block;
    z-index: 10;
    width: 6px;
    height: 6px;
    top: 22px;
    left: 22px;
    background-color: #acf0f2; }
  .mscroll svg {
    position: absolute;
    display: inline-block;
    z-index: 10;
    width: 14px;
    height: 7px;
    margin: 0 auto;
    fill: #fcfff5; }
  .mscroll .bottom {
    bottom: 7px;
    left: 18px; }
  .mscroll .top {
    top: 7px;
    left: 18px;
    transform: rotate(180deg); }
  .mscroll .left {
    top: 22px;
    left: 4px;
    transform: rotate(90deg); }
  .mscroll .right {
    top: 22px;
    right: 4px;
    transform: rotate(-90deg); }

/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
@media screen {
  .mainNav > ul {
    width: 97.80876%; }

  .secNav {
    width: 100%; }
    .secNav > .user {
      margin-left: 22px; }

  .content {
    width: 960px; } }
@media screen and (max-width: 1024px) {
  .mainNav > ul {
    width: 982px; }

  .secNav {
    width: 1004px; } }
/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
* {
  box-sizing: border-box; }

::selection {
  background-color: #acf0f2;
  color: #0d0c0b; }

::-moz-selection {
  background-color: #acf0f2;
  color: #0d0c0b; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

button, a {
  outline: none; }

a {
  text-decoration: none; }

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer; }

body {
  margin: 0;
  overflow: hidden;
  background-color: #fcfff5; }

.body {
  position: absolute;
  overflow: hidden;
  width: 100%;
  color: #225378;
  font-family: 'PT Sans', sans-serif;
  visibility: hidden;
  text-align: center; }

.topMarker, .bottomMarker, .leftMarker, .rightMarker {
  display: inline-block;
  position: fixed;
  /*border: 1px solid red;*/ }

.topMarker, .bottomMarker {
  left: 0;
  z-index: 2;
  width: 100%;
  height: 4px; }

.bottomMarker {
  bottom: 0; }

.leftMarker, .rightMarker {
  top: 0;
  z-index: 2;
  height: 100%;
  width: 4px; }

.leftMarker {
  left: 0; }

.rightMarker {
  right: 0; }

/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
.mainNav {
  width: 100%;
  background: -webkit-linear-gradient(#595150, #0d0c0b), left repeat;
  background: linear-gradient(#595150, #0d0c0b), left repeat; }
  .mainNav .MiniLogo {
    position: absolute;
    z-index: 1;
    left: -15px;
    top: -12px; }
  .mainNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left; }
    .mainNav ul li {
      display: inline-block;
      width: 104px;
      height: 55px;
      line-height: 55px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 22.08px;
      color: #fcfff5;
      text-align: center; }
      .mainNav ul li a {
        color: #fcfff5; }
      .mainNav ul li a:hover {
        color: #acf0f2; }
      .mainNav ul li a:visited {
        color: #fcfff5; }
      .mainNav ul li a:visited:hover {
        color: #acf0f2; }
    .mainNav ul li:nth-child(1) {
      background-color: #193441;
      margin-left: 129px; }
    .mainNav ul li:nth-child(2) {
      margin-left: 7px; }
    .mainNav ul li:nth-child(3) {
      margin-left: 13px; }
    .mainNav ul li:nth-child(4) {
      margin-left: 26px; }
    .mainNav ul li:nth-child(5) {
      margin-left: 34px; }
    .mainNav ul li:nth-child(6) {
      float: right; }

/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
.secNav {
  position: relative;
  left: 0;
  height: 28px;
  font-style: italic;
  font-size: 16px;
  background-color: #c3c4be;
  /*box-shadow: 0px 3px 12px 0px rgba(13, 12, 11, 0.5);*/
  text-align: right; }
  .secNav button {
    display: inline-block;
    color: #193441;
    font-family: 'PT Sans', 'sans-serif';
    font-style: italic;
    font-size: 16px; }
    .secNav button:visited {
      color: #193441; }
    .secNav button:hover {
      color: #fcfff5;
      font-weight: bold; }
  .secNav .user {
    float: left;
    width: 370px;
    margin-top: 4px; }
    .secNav .user button {
      overflow: visible; }
      .secNav .user button:nth-child(2) {
        margin-left: 28px; }
    .secNav .user button::after {
      display: block;
      content: attr(data-text);
      font-weight: bold;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
      margin-bottom: -1px; }
  .secNav .welcome {
    position: absolute;
    display: none;
    color: #193441;
    width: 370px;
    margin-top: 4px;
    margin-left: 22px; }
    .secNav .welcome span {
      display: inline-block; }
    .secNav .welcome button {
      float: right;
      margin-left: 5px; }
    .secNav .welcome button::after {
      display: block;
      content: attr(data-text);
      font-weight: bold;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
      margin-bottom: -1px; }
  .secNav .cart {
    float: left;
    margin-left: 69px; }
    .secNav .cart button:hover svg {
      fill: #fcfff5; }
    .secNav .cart button:hover div > div {
      background-color: #193441; }
    .secNav .cart span {
      float: left;
      margin-top: 4px;
      margin-right: 5px; }
      .secNav .cart span::after {
        display: block;
        content: attr(data-text);
        font-weight: bold;
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
        margin-bottom: -1px; }
    .secNav .cart .graphic {
      display: inline-block;
      margin-top: 3px; }
      .secNav .cart .graphic svg {
        float: left;
        width: 22px;
        height: 22px;
        fill: #193441;
        position: relative; }
      .secNav .cart .graphic div {
        float: left;
        background-color: #eb7f00;
        width: 26px;
        height: 19px;
        margin-top: 2px;
        margin-left: -4px;
        border-radius: 13px / 9px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 16px;
        font-style: normal;
        text-align: center; }
  .secNav .search {
    float: left;
    margin-left: 86px;
    padding-left: 15px;
    padding-right: 19px;
    /*margin-top: 3px;*/
    padding-top: 3px;
    border-radius: 14.5px 14.5px 0 0;
    background-color: #d1dbbd; }
    .secNav .search > label:first-child {
      float: left;
      display: block; }
      .secNav .search > label:first-child input:first-child {
        display: none; }
      .secNav .search > label:first-child svg {
        width: 22px;
        height: 22px;
        fill: #193441;
        cursor: pointer; }
    .secNav .search > input {
      float: left;
      margin-left: 4px;
      width: 185px;
      height: 22px;
      border-radius: 6px;
      border: 1px solid #193441;
      background-color: #fcfff5;
      padding-left: 18px;
      padding-right: 27px;
      font-family: 'PT Sans', 'sans-serif';
      font-style: italic;
      font-size: 14px; }
      .secNav .search > input:focus {
        outline: none;
        border: 1px solid #eb7f00;
        background-color: #193441;
        color: #c3c4be;
        font-weight: bold; }
    .secNav .search ::-webkit-input-placeholder {
      color: #c3c4be;
      font-weight: normal; }
    .secNav .search ::-moz-placeholder {
      color: #c3c4be;
      font-weight: normal; }
    .secNav .search :-ms-input-placeholder {
      color: #c3c4be;
      font-weight: normal; }
    .secNav .search input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .secNav .search input:focus::-moz-placeholder {
      opacity: 0; }
    .secNav .search input:focus:-ms-input-placeholder {
      opacity: 0; }
    .secNav .search input[type="search"]::-webkit-search-decoration,
    .secNav .search input[type="search"]::-webkit-search-cancel-button,
    .secNav .search input[type="search"]::-webkit-search-results-button,
    .secNav .search input[type="search"]::-webkit-search-results-decoration {
      display: none; }
    .secNav .search input[type="search"]::-ms-clear {
      display: none;
      width: 0;
      height: 0; }
    .secNav .search input[type="search"]::-ms-reveal {
      display: none;
      width: 0;
      height: 0; }
    .secNav .search button {
      display: block;
      float: left;
      width: 28px;
      height: 22px;
      background-color: #193441;
      border-radius: 0 6px 6px 0;
      margin-left: -28px;
      text-align: center; }
      .secNav .search button svg {
        position: relative;
        width: 17px;
        height: 17px;
        margin-top: 2px;
        margin-left: -1px;
        fill: #fcfff5; }

fieldset {
  border: none;
  margin: 0; }

.advancedSearch {
  position: absolute;
  border: none;
  padding: 0;
  padding-top: 25px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: #d1dbbd;
  top: 28px;
  box-shadow: 0px 6px 24px 0px rgba(13, 12, 11, 0.5);
  border-radius: 0 0 40px 40px;
  z-index: -1;
  text-align: left;
  font-family: 'Roboto';
  color: #fcfff5;
  font-size: 16px;
  font-style: normal; }
  .advancedSearch .date {
    position: relative;
    left: 0;
    padding: 0;
    width: 205px;
    text-align: right; }
    .advancedSearch .date label {
      padding: 0;
      margin: 0;
      display: block; }
      .advancedSearch .date label input {
        display: inline-block;
        width: 119px;
        height: 19px;
        margin-left: 10px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4) inset;
        border: 0;
        margin-bottom: 18px;
        color: #193441;
        font-size: 14px;
        padding-left: 4px;
        padding-top: 2.50px;
        font-family: 'Roboto'; }
        .advancedSearch .date label input:focus {
          box-sizing: content-box;
          border: 2px solid #acf0f2;
          margin-left: 12px; }

/*
//////////////////////////
//  Author: Fran Rives  //
//////////////////////////
*/
.content {
  display: inline-block;
  text-align: center;
  margin-top: 83px; }
  .content header:nth-child(1) {
    margin-top: 47px; }
    .content header:nth-child(1) img {
      display: block;
      margin: 0 auto; }

/*SHOWCASE SECTION*/
.productCategories {
  position: relative;
  width: 95.61753%;
  margin: 0 auto;
  margin-top: 67px;
  font-size: 14px; }
  .productCategories button {
    font-size: 14px;
    color: #225378; }
    .productCategories button:visited {
      color: #225378; }
  .productCategories button:nth-child(1) {
    cursor: default; }
  .productCategories button:nth-child(2) {
    margin: 0 48px; }
  .productCategories .underline {
    position: absolute;
    background-color: #225378;
    height: 2px;
    top: 20.68px; }

.products {
  margin-top: 31px;
  text-align: center; }
  .products > button {
    box-sizing: border-box;
    overflow: hidden;
    color: #fcfff5;
    display: inline-block;
    position: relative;
    width: 222px;
    height: 220px;
    margin-right: 24px;
    margin-top: 26px;
    border: 4px solid #225378; }
    .products > button:nth-child(1), .products > button:nth-child(2) {
      width: 468px;
      height: 258px;
      margin-top: 0; }
      .products > button:nth-child(1) .type, .products > button:nth-child(2) .type {
        width: 92px;
        height: 27px;
        font-size: 18px; }
      .products > button:nth-child(1) .name, .products > button:nth-child(2) .name {
        height: 38px;
        width: 468px;
        font-size: 24px; }
      .products > button:nth-child(1) img, .products > button:nth-child(2) img {
        display: block;
        width: 468px; }
    .products > button:nth-child(2) {
      margin-right: 0; }
    .products > button:nth-child(4n+6) {
      margin-right: 0; }
    .products > button img {
      display: block;
      width: 222px; }
    .products > button span {
      display: inline-block;
      vertical-align: middle; }
    .products > button .type {
      position: absolute;
      left: -4px;
      top: -4px;
      width: 76px;
      height: 23px;
      background-color: #225378;
      font-family: 'PT Sans', sans-serif;
      font-size: 15px; }
    .products > button .name {
      position: absolute;
      left: -4px;
      bottom: -4px;
      width: 222px;
      height: 32px;
      background-color: #225378;
      font-family: 'Alegreya', serif;
      font-size: 20px;
      font-weight: bold; }
    .products > button:hover {
      border-color: #1695a3; }
      .products > button:hover .type,
      .products > button:hover .name {
        background-color: #1695a3; }

/*VIDEOS SECTION*/
.videos {
  background-color: #1695a3;
  margin-top: 135px; }
  .videos .video {
    position: relative;
    display: inline-block;
    width: 229px;
    height: 156px;
    background-position: center;
    background-repeat: no-repeat; }
    .videos .video > h6 {
      position: absolute;
      width: 100%;
      margin: 0;
      font-style: italic;
      font-size: 12px;
      line-height: 20px;
      color: #fcfff5;
      font-weight: normal;
      height: 20px;
      background-color: #1695a3; }
    .videos .video > button {
      left: 83.5px;
      top: 57px;
      position: absolute;
      width: 62px;
      height: 42px;
      background-color: rgba(22, 149, 163, 0.25);
      transition: background-color 0.5s; }
      .videos .video > button:hover {
        background-color: rgba(22, 149, 163, 0.75); }
    .videos .video svg {
      display: block;
      margin: 0 auto;
      width: 26px;
      height: 26px;
      fill: #1695a3; }
  .videos .video:nth-of-type(1) {
    float: left;
    background-image: url(../Videos/Thumbnail1.png); }
    .videos .video:nth-of-type(1) > h6 {
      bottom: 0; }
  .videos .video:nth-of-type(2) {
    float: right;
    background-image: url(../Videos/Thumbnail2.png); }
    .videos .video:nth-of-type(2) > h6 {
      top: 0; }
  .videos p {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 156px;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    color: #fcfff5;
    text-align: justify;
    word-spacing: -5px; }
    .videos p:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .videos p .centered {
      word-spacing: normal;
      vertical-align: middle;
      display: inline-block;
      width: 100%; }

/*TESTIMONIES SECTION*/
.testimonies {
  margin-top: 139px;
  padding-bottom: 50px; }
  .testimonies > div {
    display: inline-block; }
    .testimonies > div img {
      float: left;
      width: 154px;
      border: 4px solid #3e606f;
      box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75); }
    .testimonies > div div {
      display: inline-block;
      float: left;
      width: 228px;
      height: 87px;
      background-color: #193441;
      font-family: 'Covered By Your Grace';
      font-size: 20px;
      color: #eb7f00;
      padding: 3px 9px 0px 9px;
      text-align: left; }
      .testimonies > div div span:nth-of-type(2) {
        margin: 2px 25px; }
      .testimonies > div div span:nth-of-type(1),
      .testimonies > div div span:nth-of-type(3) {
        position: absolute;
        font-size: 120px; }
      .testimonies > div div span:nth-of-type(1) {
        top: -50px;
        margin-left: -5px; }
      .testimonies > div div span:nth-of-type(3) {
        top: 34px;
        right: 10px; }
  .testimonies > div:nth-of-type(1) {
    position: relative;
    top: 50px; }
    .testimonies > div:nth-of-type(1) > div {
      position: relative;
      margin-top: 11px; }
  .testimonies > div:nth-of-type(2) {
    position: relative;
    margin-left: 108px; }
    .testimonies > div:nth-of-type(2) > div {
      position: relative;
      top: 67px;
      margin-top: -21px; }

footer {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 164px;
  height: 369px;
  background-image: url("../Photos/Maps/Map1024.png");
  background-position: center; }
  footer svg {
    position: absolute;
    height: 58px;
    width: 58px;
    fill: #0d0c0b;
    opacity: 0.5;
    top: calc(50% - 58px);
    left: calc(50% - 58px / 2); }
  footer span {
    position: absolute;
    text-align: left;
    top: calc(50% - 10px);
    left: calc(50% + 10px);
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #0d0c0b;
    opacity: 0.5; }
  footer .footerNav {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 44px;
    background-color: rgba(13, 12, 11, 0.5); }
    footer .footerNav div {
      display: inline-block;
      height: 100%; }
      footer .footerNav div button, footer .footerNav div a {
        /*border: 1px solid rgba(255, 0, 0, 1);*/
        display: inline-block;
        position: relative;
        /*height: 34px;*/
        top: 6px; }
        footer .footerNav div button img:nth-of-type(1), footer .footerNav div a img:nth-of-type(1) {
          position: absolute;
          transition: all 0.5s; }
        footer .footerNav div button img:nth-of-type(2), footer .footerNav div a img:nth-of-type(2) {
          opacity: 0;
          transition: all 0.5s; }
        footer .footerNav div button:hover > img:nth-of-type(1), footer .footerNav div a:hover > img:nth-of-type(1) {
          opacity: 0; }
        footer .footerNav div button:hover > img:nth-of-type(2), footer .footerNav div a:hover > img:nth-of-type(2) {
          opacity: 1; }
      footer .footerNav div:nth-of-type(1) {
        float: left;
        width: 400px;
        text-align: left; }
      footer .footerNav div:nth-of-type(2) {
        width: 100px;
        text-align: center; }
      footer .footerNav div:nth-of-type(3) {
        float: right;
        width: 400px;
        text-align: right; }
    footer .footerNav div:nth-of-type(1) > button:nth-of-type(1) {
      left: 39px;
      /*width: 46px;*/ }
    footer .footerNav div:nth-of-type(1) > button:nth-of-type(2) {
      /*width: 52px;*/
      left: 48px; }
    footer .footerNav div:nth-of-type(2) > button {
      /*width: 49px;*/ }
    footer .footerNav div:nth-of-type(3) > a:nth-of-type(1) {
      /*width: 20px;*/
      right: 48px; }
    footer .footerNav div:nth-of-type(3) > a:nth-of-type(2) {
      /*width: 39px;*/
      right: 39px; }

.measure {
  position: absolute;
  top: 3003px;
  left: 912px;
  width: 13px;
  height: 30px;
  background-color: red;
  z-index: 100;
  display: none; }

.measure2 {
  position: absolute;
  top: 1925px;
  left: 739px;
  width: 17px;
  height: 10px;
  background-color: purple;
  z-index: 100;
  display: none; }

/*# sourceMappingURL=global.css.map */
